# Ambiente local
.env
venv/
.venv/
__pycache__/
*.pyc

# Bases e arquivos gerados
chroma_db/
tmp/
uploads_temp/
exports/

# Streamlit
.streamlit/secrets.toml

# Sistema/editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
